$transitionAll: all 0.5s ease-in-out;
$color-white:#FFFFFF;
$color-white-op:#ECEEED;
$color-gray:#FAFAFA;
$color-gray-p:#A0A4A4;
$color-gray-b:#202221;
$color-gray-2:#808686;
$color-gray-3:#FCFCFC;
$color-gray-4:#F7F7F7;
$color-gray-5:#B3B9B9;
$color-gray-6: #606564;
$color-gray-7:#EEEEEE;
$color-gray-8:#E9E9E9;
$color-gray-9:#A0A8A7;

$color-black:#000;
$color-black-p:#404343;
$color-black-b: #222222;

$color-info:#5DD5C4;
$color-blue: #D9E3E1;
$color-form: #898989;
$color-orange:#FF9F4B
